In [1]:
import pandas as pd 
data = pd.read_csv("broadway_grosses.csv")
data.tail()

,Week,Show,Theatre Name,Week Gross,Potential Gross,Diff $,Avg Ticket,Top Ticket,Seats Sold,Seats In Theatre,Performances,Previews,% Capacity,Diff % Capacity
47556,2015-12-27,The King and I,Vivian Beaumont Theater,"$1,094,022.00","$1,218,380.00","$352,615.00",$146.57,$297.00,7464,1047,8,0,89.11%,12.71%
47557,2015-12-27,The Lion King,Minskoff Theatre,"$2,588,075.00","$2,420,723.00","$435,779.00",$190.72,$225.00,13570,1696,8,0,100.02%,2.94%
47558,2015-12-27,The Phantom of the Opera,Majestic Theatre,"$1,458,784.11","$1,536,225.00","$598,751.11",$118.12,$200.00,12350,1605,8,0,96.18%,24.01%
47559,2015-12-27,Thérèse Raquin,Studio 54,"$288,231.00","$739,501.00","-$81,534.00",$68.54,$0.00,4205,1019,7,0,58.95%,1.04%
47560,2015-12-27,Wicked,Gershwin Theatre,"$2,400,920.00","$1,779,845.00","$497,702.00",$162.25,$240.00,14798,1867,8,0,99.10%,0.89%

In [2]:
data = data.sort_values(by=['Week'], ascending=False).reset_index(drop=True)

In [3]:
data.to_csv("broadway_grosses_weekly_sorted.csv", index=False)

In [4]:
data.tail()

,Week,Show,Theatre Name,Week Gross,Potential Gross,Diff $,Avg Ticket,Top Ticket,Seats Sold,Seats In Theatre,Performances,Previews,% Capacity,Diff % Capacity
47556,1985-06-09,Big River,Eugene O'Neill Theatre,"$255,386.00",$0.00,$0.00,$31.96,$0.00,7992,1018,8,0,98.13%,0.00%
47557,1985-06-09,As Is,Lyceum Theatre,"$61,059.00",$0.00,$0.00,$20.78,$0.00,2938,684,8,0,53.69%,0.00%
47558,1985-06-09,Arms and the Man,Circle in the Square Theatre,"$95,688.00",$0.00,$0.00,$20.87,$0.00,4586,682,8,0,84.05%,0.00%
47559,1985-06-09,A Chorus Line,Sam S. Shubert Theatre,"$222,584.00",$0.00,$0.00,$27.25,$0.00,8167,1472,8,0,69.35%,0.00%
47560,1985-06-09,Aren't We All?,Brooks Atkinson Theatre,"$249,272.00",$0.00,$0.00,$33.75,$0.00,7386,1088,8,0,84.86%,0.00%